* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: red; */
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#nav {
    height: 50px;
    width: 100%;
    /* background-color: rgb(15, 255, 199); */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#nav-part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vw;
    padding: 0px 2vw;
}

#nav-part1 .circle1 {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: black;

}

#nav-part1 .circle2 {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;

}

#nav-part2 {
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
    text-transform: capitalize;
}

#nav-part2 h4 {
    font-weight: 500;
    font-size: 1.3vw;
}

#nav-part2 h4:nth-child(4n) {
    /* background-color: blue; */
    margin-right: 2vw;
}

#nav2 {
    height: 40px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 2vw;
    /* margin-top: 1vw; */


}

#nav2 h5 {
    font-size: 1.2vw;
    padding: 2vw;
    font-weight: 500;
    text-transform: uppercase;
}

#content-page {
    height: calc(100% - 105px);
    width: 100%;
    /* background-color: blue; */
}

#text-content {
    height: 40%;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    overflow-x: auto;
    /* background-color: aliceblue; */
}

#text-content h4 {
    font-size: 8vw;
    padding: 4vw;
    text-transform: capitalize;

    flex-shrink: 0;
    /* border: 2px solid green; */
}
#text-content::-webkit-scrollbar{
     background-color: transparent;
     height: 3px;
}

#text-content::-webkit-scrollbar-thumb{
    background-color: rgb(255, 72, 0);
}
#image-content{
    height: 65%;
    width: 100%;
    overflow-x: auto;
    display: flex;
}
#image-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#image-content::-webkit-scrollbar{
     display: none;
}
#image-content::-webkit-scrollbar-thumb{
    background-color: rgb(241, 4, 4);
}
@media (max-width:600px) {
    #main {
        /* background-color: red; */
        height: 100%;
        width: 100%;
        
    }
    
    #nav {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
#nav-part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vw;
    padding: 0px 2vw;
}

#nav-part1 .circle1 {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: black;

}

#nav-part1 .circle2 {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;

}

#nav-part2 {
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
    text-transform: capitalize;
}



#nav-part2 h4 {
    font-weight: 500;
    font-size: 3.5vw;
}

#nav-part2 h4:nth-child(4n) {
    margin-right: 2vw;
}


#nav2 {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
}

#nav2 h5 {
    font-size: 2.5vw;
    padding: 2vw;
    font-weight: 500;
    text-transform: uppercase;
}

#content-page {
    height: calc(100% - 105px);
    width: 100%;
}

#text-content {
    height: 40%;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#text-content h4 {
    font-size: 18vw;
    padding: 8vw;
    text-transform: capitalize;

    flex-shrink: 0;
}
#text-content::-webkit-scrollbar{
     background-color: transparent;
     height: 3px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: transparent;
}
#image-content{
    height: 65%;
    width: 100%;
    overflow-x: auto;
    display: flex;
}
#image-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


}